<div class="flex justify-center items-center min-h-screen">
  <div class="w-2/3 bg-white p-8 rounded-lg shadow-lg">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <div class="mb-4">
        <label for="name" class="block text-gray-700 font-semibold mb-2">Nombre:</label>
        <input type="text" id="name" formControlName="name"
               class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
               placeholder="Tu nombre completo">
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-red-500 text-sm mt-1">
          El nombre es obligatorio.
        </div>
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-semibold mb-2">Correo Electrónico:</label>
        <input type="email" id="email" formControlName="email"
               class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
               placeholder="ejemplo@correo.com">
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
          Introduce un correo electrónico válido.
        </div>
      </div>

      <div class="mb-4">
        <label for="message" class="block text-gray-700 font-semibold mb-2">Mensaje:</label>
        <textarea id="message" formControlName="message"
                  class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
                  rows="4" placeholder="¿En qué podemos ayudarte?"></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-red-500 text-sm mt-1">
          El mensaje no puede estar vacío.
        </div>
      </div>

      <button type="submit"
              class="px-6 py-3 bg-blue-600 text-white font-bold rounded-lg ml-auto block hover:bg-blue-700 transition-colors disabled:bg-gray-400 disabled:cursor-not-allowed"
              [disabled]="contactForm.invalid">
        Enviar Mensaje
      </button>
    </form>
  </div>
</div>
