
 <div class="w-full h-64 sm:h-80 md:h-96 lg:h-[500px] xl:h-[600px] overflow-hidden mb-12">
    <img
      src="https://images.pexels.com/photos/8422207/pexels-photo-8422207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt="Hero image"
      class="w-full h-[400px] lg:h-[500px] xl:h-[600px] object-cover lg:object-[center_40%] animate__animated animate__fadeInUp delay-100"
    />
  </div>
  <div class="bg-red-500 py-10">
    <h1 class="text-4xl md:text-5xl font-bold text-tertiary text-center font-['serif'] my-6 animate__animated animate__fadeInUp delay-400">
      La inspiración comienza aquí
    </h1>
  </div>
  <div class=" bg-white pl-4 pr-8 py-12 font-sans space-y-8 mt-[1lh] mb-[1lh]">
    <div class="lg:flex lg:items-start lg:space-x-6">
      <div class="bg-white shadow-lg p-6 w-full lg:w-2/3 lg:mr-auto animate__animated animate__fadeInUp delay-500">
        <p class="text-lg leading-relaxed text-center lg:text-left first-letter:text-4xl first-letter:font-serif first-letter:leading-none">
          Detrás de cada diagnóstico de TDAH hay una historia. Una historia de dudas, de tardes difíciles, de incomprensión en el aula o en casa.
          Pero también es una historia de talento, de creatividad sin límites, de energía que desborda y de una forma única de ver el mundo.
          En Adahimar creemos que es hora de cambiar la narrativa. Creemos en un futuro donde cada persona con TDAH sea comprendida, valorada y acompañada desde el respeto y la empatía.
          Nuestra asociación nace del compromiso de familias, profesionales y personas que conviven con este trastorno, con el objetivo de tejer una red de apoyo real,
          cercana y accesible para todos. Organizamos talleres sobre distintas materias adaptados a todas las edades, así como grupos de apoyo para personas afectadas y sus familiares.
          Promovemos la educación, la visibilización y la comprensión a través de actividades formativas, campañas de sensibilización y colaboraciones con centros educativos y profesionales
          del ámbito sanitario y social.
          Ven a conocernos. Juntos podemos transformar el camino del TDAH en una oportunidad de crecimiento, aprendizaje y comunidad.
        </p>
      </div>

      <div class="w-full lg:w-1/3 mt-6 lg:mt-0">
        <img
          src="https://img.freepik.com/free-vector/mental-health-awareness-concept_52683-42906.jpg"
          alt="Salud mental y TDAH"
          class="w-full h-auto rounded shadow-lg object-cover animate__animated animate__fadeInUp delay-600"
        />
      </div>
    </div>
      <div class="flex flex-col items-center animate__animated animate__fadeInUp delay-600">
        <h2 class="text-2xl font-semibold mb-6 text-black">Sigue conociéndonos</h2>
      </div>
    <div class="px-4 py-8 flex flex-col md:flex-row items-center justify-center md:space-x-10 space-y-6 md:space-y-0 animate__animated animate__fadeInUp delay-800">
      <a routerLink="/app-information" class="w-52 h-52 bg-secondary flex items-center justify-center text-center font-semibold text-lg shadow-md transform transition-transform duration-300 hover:scale-105">
        Conócenos
      </a>
      <a routerLink="/talleres" class="w-52 h-52 bg-secondary flex items-center justify-center text-center font-semibold text-lg shadow-md hover:scale-105 ">
        Talleres
      </a>
    </div>

